* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
p{
    font-size: 14px;
}

                            /*HEADER*/

header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: #fff;
    font-size: 12px;
    font-weight: 600;
}
.header_logo{
    display: flex;
	justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
.logo{
    display: flex;
    align-items:center;
}
.img_logo{
    width: 30px;
    padding: 5px 20px 5px 0;
}
.link{
    margin-left: 20px;
    color: #000;
}
.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

                                /*MAIN*/
                                /*BLOCK main_welcome*/

.main_welcome{
    background: url("../images/banner.png") 25% 65%/140% no-repeat;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55vh;
}
.img_main_welcome{
    padding: 100px 0 15px;
    width: 150px;
}
.main_welcome h1{
    font-size: 34px;
}
.main_welcome h2{
    font-size: 16px;
}
.btn_main_welcome{
    margin-top: 15px;
    padding: 8px;
    font-size: 14px;
    font-weight: 550;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    background: rgba(0, 120, 201, 0);
}
.btn_main_welcome:hover{
    background: rgb(70, 130, 180, 0.4);
    cursor: pointer;
    
}

                                /*BLOCK PRIVILEGE*/

.privilege{
    background: #fff;
}
.privilege_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 0;
}
.privilege_block_text{
    width: 300px;
}
.privilege_block_text h2 {
    padding-bottom: 15px;
}


                                /*BLOCK ABOUT and BLOCK CHILOUT*/

.about{
    background: #f7f7f7;
}
.about_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 60px 0;
}
.about_block{
    width: 400px;
}
.about_block h2{
    padding-bottom: 15px;
}
.chilout{
    background: #fff;
}


                                /*BLOCK FEEDBACK*/


.feedback{
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedback h1{
    padding: 50px 0 20px;
}
.feedback fieldset {
    width: 400px;
    border: 2px solid #48dcbe;
    margin: 10px 0;
}
.feedback legend{
    color: #48dcbe;
    margin-left: 18px;
    font-size: 18px;
    font-weight: bold;
}
.feedback_in_fieldset{
    margin: 10px 15px;
    display: flex;
    flex-wrap: wrap;
}
.labes{
    width: 48%;
    font-size: 13px;
    font-weight: 600;
    margin:0 30px 10px 0;
}
.inputs{
    width: 35%;
    height: 22%;
    margin:0 10px 10px 0;
    padding: 4px;
    border-radius: 10px;
    outline: none;
}

.contact{
    width: 32%;

}
.inputs_contact{
    width: 50%;

}
.bnt_feedback{
    margin: 10px 278px 40px 0;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 550;
    color: #48dcbe;
    border: 1px solid #48dcbe;
    border-radius: 10px;
}
.bnt_feedback:hover{
    cursor: pointer;
    background: #48dcbe;
    color: #fff;
}


                                /*BLOCK FOOTER*/


footer{
    background: #2c3544;
    color: #fff;
}
.footer_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 47px 0;
}
.footer_logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.footer_logo p{
    width: 50%;
    font-size: 12px;
}
.footer_logo img{
    width: 30px;
    padding-right: 10px;
}
.footer_block h3{
    padding-bottom: 15px;
    font-size: 16px;
}

.footer_block span{
    margin: 0 0 10px 10px;
}
.footer_block ul{
    padding-left: 45px;
    font-size: 12px;
}