* {
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
p{
    font-size: 16px;
}

                            /*HEADER*/

header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: #fff;
    font-size: 18px;
    font-weight: 600;
}
.header_logo{
    display: flex;
	justify-content: space-between;
    align-items: center;
    padding: 10px 40px 0;
}
.logo{
    display: flex;
    align-items:center;
}
.img_logo{
    width: 50px;
    height: 50px;
    padding-right: 20px;
}
.link{
    margin-left: 20px;
    color: #000;
}
.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

                                /*MAIN*/
                                /*BLOCK INTRO*/

.intro{
    background: url("F:/hexlet/layout-designer-project-lvl1/images/banner.png") center no-repeat;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
}
.img_intro{
    padding: 100px 0 15px;
    height: 250px;
    width: 250px;
}
.intro h1{
    font-size: 54px;
}
.btn{
    margin-top: 25px;
    padding: 10px;
    font-size: 16px;
    font-weight: 550;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    background: rgba(0, 120, 201, 0);
}
.btn:hover{
    background: rgb(5, 199, 167, 0.4);
    cursor: pointer;
    
}

                                /*BLOCK PRIVILEGE*/

.privilege{
    background: #fff;
}
.privilege_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 0;
}
.block{
    width: 300px;
}
.block h2 {
    padding-bottom: 15px;
}


                                /*BLOCK ABOUT and BLOCK CHILOUT*/

.about{
    background: #F5F5F5;
}
.info_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 60px 0;
}
.info_block{
    width: 400px;
}
.info_block h2{
    padding-bottom: 15px;
}
.chilout{
    background: #fff;
}


                                /*BLOCK FEEDBACK*/


.feedback{
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedback h1{
    padding: 50px 0 20px;
}
.feedback fieldset {
    width: 400px;
    border: 2px solid #66CDAA;
    box-shadow: 0 0 2px rgba(0,0,0,1);
    margin: 10px 0;
}
.feedback legend{
    color: #66CDAA;
    padding-bottom: 18px;
    font-size: 22px;
    font-weight: 900;
}
.in_box{
    margin: 10px 15px;
    display: flex;
    flex-wrap: wrap;
}
.labes{
    width: 48%;
    font-size: 18px;
    font-weight: 600;
    margin:0 30px 10px 0;
}
.inputs{
    width: 35%;
    margin:0 10px 10px 0;
    padding: 4px;
    border-radius: 10px;
}

.contact{
    width: 32%;

}
.inputs_contact{
    width: 50%;

}
.bnt_feedback{
    margin: 10px 278px 40px 0;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 550;
    color: #66CDAA;
    border: 1px solid #66CDAA;
    border-radius: 10px;
}
.bnt_feedback:hover{
    cursor: pointer;
    background: #66CDAA;
    color: #fff;
}