:root {
    --color-for-feedback: #48dcbe;
    --main-color-bg: #fff;
    --secondary-color-bg: #f7f7f7;
    --main-color-font: #fff;
    --secondary-color-font: #000;
    --footer-color-bg: #2c3544;

    --main-header-size: 50px;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
p, h3, a{
    font-size: 16px;
}
main{
    padding-top: var(--main-header-size);
}
.wrapper{
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
}
.pd-bottom-15{
    padding-bottom: 15px;
}
.fz-16{
    font-size: 16px;
}
.fz-12{
    font-size: 12px;
}
.btn{
    padding: 10px 20px;
    font-weight: 600;
    border: 1px solid;
    border-radius: 10px;
}
.colum-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-bg-color{
    background: var(--main-color-bg)
}
.secondary-bg-color{
    background: var(--secondary-color-bg)
}
.main-font-color{
    color: var(--main-color-font);
}
.secondary-font-color{
    color: var(--secondary-color-font);
}
.footer-bg-color{
    background: var(--footer-color-bg)
}
                            /*HEADER*/

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    font-weight: 600;
    display: flex;
	justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: var(--main-header-size);
}
.logo{
    display: flex;
    align-items:center;
}
.img-logo{
    width: 30px;
    padding: 5px 20px 5px 0;
}
.link{
    margin-left: 20px;
    color: var(--secondary-color-font);
}


                                /*MAIN*/
                                /*BLOCK main_welcome*/


.main-welcome{
    background: url("../images/banner.png") 30% 68% no-repeat;
    width: 100%;
}
.img-main-welcome{
    padding: 30px 0 15px;
    width: 150px;
}
.main-welcome h1{
    font-size: 34px;
}
.btn-main-welcome{
    border-color: var(--main-color-bg);
}
.btn-main-welcome:hover{
    background: rgb(70, 130, 180, 0.4);
    cursor: pointer;
    
}
.mg-30-0{
    margin: 30px 0;
}

                                /*BLOCK INFO CONTENT*/
.space-evenly{
    justify-content: space-evenly;
}
.space-between{
    justify-content: space-between;
}
.wh-30{
    width: 30%;
}
.wh-45{
    width: 45%;
}

                                /*BLOCK FEEDBACK*/


.feedback-fieldset {
    width: 400px;
    border: 2px solid  var(--color-for-feedback);
    margin: 30px 0;
}
.feedback-legend{
    color: var(--color-for-feedback);
    margin-left: 18px;
    font-size: 18px;
    font-weight: bold;
}
.feedback-in-fieldset{
    margin: 10px 15px;
    display: flex;
    flex-wrap: wrap;
}
.labes{
    width: 48%;
    font-size: 13px;
    font-weight: 600;
    margin:0 30px 10px 0;
}
.inputs{
    width: 35%;
    margin:0 10px 10px 0;
    padding: 4px;
    border-radius: 10px;
    outline: none;
}

.wh-32{
    width: 32%;

}
.wh-50{
    width: 50%;

}
.btn-feedback{
    color: var(--color-for-feedback);
    border-color: var(--color-for-feedback);
    border-radius: 10px;
}
.btn-feedback:hover{
    cursor: pointer;
    background: var(--color-for-feedback);
    color: var(--main-color-font)
}


                                /*BLOCK FOOTER*/


.footer-logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.footer-logo img{
    width: 30px;
    padding-right: 10px;
}
.footer-block span{
    margin: 0 0 10px 10px;
}
.footer-block ul{
    padding-left: 45px;
}